### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# View purchase data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Counts unique counts using SN
purchase_data.SN.value_counts()

Lisosia93         5
Idastidru52       4
Iral74            4
Idai61            3
Saistyphos30      3
                 ..
Iskosia90         1
Chamossa77        1
Haedairiadru51    1
Tyeoralru41       1
Maradarnya40      1
Name: SN, Length: 576, dtype: int64

In [4]:
# Variable to make manipulation easier
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]

player_demographics = player_demographics.drop_duplicates()
player_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [32]:
number_of_players = player_demographics.count()[0]
#print(f'total number of players is {number_of_players}')  
number_of_players#.dtype

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
# Calculate average price
price_info = purchase_data["Price"]
average_price = np.average(price_info)
average_price#.dtype

#print(f'Average price of items: {average_price}')

3.0509871794871795

In [7]:
# Obtaining number of unique items
# Create list of values
unique_items_list = purchase_data["Item ID"].unique()
unique_items_list
# Count the objects in the list 
unique_items = len(unique_items_list)
unique_items#.dtype

183

In [35]:
# Creating summary data frame
summary_df = pd.DataFrame.purchase_data({"Player Demographics": [player_demographics], 
                           "Number of Players": [number_of_players], 
                           "Number of items": [item_number]})
summary_df

AttributeError: type object 'DataFrame' has no attribute 'purchase_data'

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Narrow to only gender and SN
player_gender = purchase_data["Gender"]

# Summary of gender demographics 
player_gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
# Narrow gender to only male
male = player_gender["Gender"] if (player_gender["Gender"] == "Male")
male

SyntaxError: invalid syntax (<ipython-input-10-52b2d79b4ea9>, line 2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# Determine Age
determine_age = purchase_data["Age"]
determine_age.value_counts()

# Use oldest and youngest to determine bin range
#oldest = purchase_data["Age"].max()
#oldest

#youngest = purchase_data["Age"].min()
#youngest

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

## Purchasing Analysis (Age)

In [12]:
# Create age bins
bins = [0, 10, 20, 30, 40, 50]

# Create labels for bins
group_labels = ["0 to 10", "11 to 20", "21 to 30", "31 to 40", "41 to 50"]

In [13]:
# Placing Age into the bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
purchase_data["Age"]

0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64

In [14]:
# Placing the added Age bins into our overall df using new column "Age Groups"
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,11 to 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,31 to 40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21 to 30
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21 to 30
4,4,Iskosia90,23,Male,131,Fury,1.44,21 to 30

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Creating groupby object based on "Age Groups"
gaming_group = purchase_data.groupby("Age Groups")

# Finding the number of rows fall into each bin
purchase_count = gaming_group["Price"].count()
purchase_count

Age Groups
0 to 10      32
11 to 20    254
21 to 30    402
31 to 40     85
41 to 50      7
Name: Price, dtype: int64

In [16]:
# Running basic calculations: purchase count, avg. purchase price, avg purchase total
# average purchase price per age group
gaming_group[["Price"]].mean()

               Price
Age Groups
0 to 10     3.405000
11 to 20    3.063622
21 to 30    2.992687
31 to 40    3.153647
41 to 50    3.075714

In [19]:
# Average purchase total - MUST FIND TOTAL NUMBER OF PLAYERS IN EACH CATEGORY
gaming_group[["Price"]].sum()/purchase_count

            0 to 10  11 to 20  21 to 30  31 to 40  41 to 50  Price
Age Groups
0 to 10         NaN       NaN       NaN       NaN       NaN    NaN
11 to 20        NaN       NaN       NaN       NaN       NaN    NaN
21 to 30        NaN       NaN       NaN       NaN       NaN    NaN
31 to 40        NaN       NaN       NaN       NaN       NaN    NaN
41 to 50        NaN       NaN       NaN       NaN       NaN    NaN

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame