### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [48]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [49]:
# Calculating total number of scools
school_count = np.unique(school_data_complete["school_name"], return_counts=True)
#school_count[0]
#school_names = school_data_complete["school_name"] - uncomment this code to see all schools listed
# code uses length of the first return in school_names
#school_names = school_data_complete["school_name"].len(school_count[0])
# 15 schools
school_count = 15
school_count

15

In [50]:
# calculating total number of students while storing result in variable
student_no_total = school_data_complete["student_name"].count()
student_no_total

39170

In [51]:
# calculating total budget 
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [52]:
# calculating avg. math score while storing result in variable
math_average = school_data_complete["math_score"].mean()
math_average

78.98537145774827

In [53]:
# calculating avg. reading score while storing result in variable
read_average = school_data_complete["reading_score"].mean()
read_average

81.87784018381414

In [54]:
# calculating overall average score while storing result in variable
score_average = (math_average + read_average)/2
score_average

80.43160582078121

In [62]:
# calculating percentage of students with passing math score (70 and above) while
# storing result in variable
school_data_complete["math_score"].value_counts()
# "True" boolean = 1, "False" boolean = 0; 
#sum the number of "True" booleans when math_score is >= 70
seventy_and_above = school_data_complete["math_score"]>= 70
seventy_and_above.sum()
percentage_math = seventy_and_above.sum()/student_no_total*100
percentage_math

74.9808526933878

In [58]:
# calculating percentage of students with passing reading score while
# storing result in variable
school_data_complete["reading_score"].value_counts()
reading_seven_above = school_data_complete["reading_score"]>=70
reading_seven_above.sum()
percentage_reading = reading_seven_above.sum()/student_no_total*100
percentage_reading

85.80546336482001

In [59]:
# calculating overall passing rate using reading and math passing_rates
overall_passing = (percentage_math+percentage_reading)/2
overall_passing

80.39315802910392

In [60]:
# create summary_df to hold all 
summary_df = pd.DataFrame({"Total schools": [school_count],
                          "Total students": [student_no_total],
                          "Total budget": [total_budget],
                          "Average Math Score": [math_average],
                          "Average Reading Score": [read_average],
                          "% Passing Math": [percentage_math],
                          "% Passing Reading": [percentage_reading],
                          "% Passing Overall": [overall_passing]})
summary_df

,Total schools,Total students,Total budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.393158

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [46]:
# Creating overview table using "School_name" as the index
school_df = pd.DataFrame({"School Type": [school_data_complete["type"]],
                        "Total Students": [school_data_complete["size"]],
                        "Total School Budget": [school_data_complete["budget"]],
                        "Per Student Budget": [budget_per_student],
                        "Average Math Score": [school_math],
                        "Average Reading Score": [school_reading]},
                         index= school_data_complete["school_name"],
                         )
                          
                         
school_df
#PROBLEM - READING IN ARRAYS INTO EACH COLUMN; MUST FIND WAY TO HAVE THEM UNLIST

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,,
Huang High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Huang High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Huang High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Huang High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Huang High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
...,...,...,...,...,...,...
Thomas High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Thomas High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Thomas High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Thomas High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."
Thomas High School,0 District 1 District 2 D...,0 2917 1 2917 2 2917 3 ...,0 1910635 1 1910635 2 191...,0 655.0 1 655.0 2 655.0 3...,"[1060.6297565992459, 1049.1207188877586, 1756....","[1099.4703462461432, 1087.5398440149204, 1821...."

In [2]:
# for reference
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# Creating variable for per student budget
school_data_complete["budget"]/school_data_complete["size"]

budget_per_student = school_data_complete["budget"]/school_data_complete["size"]
budget_per_student

0        655.0
1        655.0
2        655.0
3        655.0
4        655.0
         ...
39165    638.0
39166    638.0
39167    638.0
39168    638.0
39169    638.0
Length: 39170, dtype: float64

In [20]:
# Creating variable for Average Math Score
school_data_complete["math_score"].sum()/school_data_complete["size"]
# finding unique values
#school_math = school_data_complete["math_score"].sum()/school_data_complete["size"].unique()
school_math

array([1060.6297566 , 1049.12071889, 1756.87507098,  667.49881338,
       2107.53201635, 1355.1717039 , 1665.15446717,  621.75582797,
       7245.56674473, 3216.06756757, 1718.80944444,  773.65766442,
        649.83343835, 1129.55713764, 1892.26727829])

In [21]:
# Creating variable for Average Reading Score
school_data_complete["reading_score"].sum()/school_data_complete["size"]
# finding unique values
#school_reading = school_data_complete["reading_score"].sum()/school_data_complete["size"].unique()
school_reading

array([1099.47034625, 1087.53984401, 1821.21237933,  691.94282632,
       2184.71049046, 1404.79851073, 1726.13293864,  644.52471865,
       7510.90163934, 3333.84095634, 1781.75277778,  801.98924731,
        673.6305398 , 1170.9218693 , 1961.56269113])

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.